

/* Index */
body{
    
}

#home body {}
.navigation {
	background-color: #f1f1f1;
	border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
	border-width: 2px;
	border-style: solid;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	z-index: 2;
}
.footer{

}
.social-media {
	display: flex;
	gap: 0.7em;
	align-items: center;
}
.fa-tiktok {
	font-size: 1.2em;
}
.social-media a {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}
.navbar-brand {
	margin: 0;
	align-self: center;
}
#home .slow-mo-container {
	display: none;
}
#home .slow-mo-container video {
	opacity: 50%;
    transform: translatey(1em);
}
#home .hero-overlay {
	color: black;
	text-align: center;
	min-width: 20em;
	z-index: 1;
}
#home .slow-mo-container-mobile {
	height: 95svh;
	overflow: clip;
    border-image: radial-gradient(circle, #52F9FF, #FF3131, #FF3131, #FF3131, #FF3131, #52F9FF) 1;
	border-width: 2px;
	border-style: solid;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
    
}
#home .slow-mo-container-mobile video {
	opacity: 50%;
    
    
}
#home .hero-text {
	font-size: 1.4em;
}
#home .about-team{
    margin-left: 1em;
    margin-right: 1em;
}
#home .about-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.3em;
    gap: 0.3em;
}

#home .sponsor-container {
	margin-bottom: 10em;
	
    
}
#home .s-container-text {
    margin-bottom: 1em;
}

#home .sponsor-heading {

	
    padding-top: 3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.5em;
    
    
    
}
#home .sponsor-p {
	margin-bottom: 3.125em;
    margin-left: 2em;
    margin-right: 2em;
}

#home .card-home img {
	margin-bottom: 1.5em;
}
#home .sponsor-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
    
}
#home .girls-card {
	margin-top: 3.125em;
	margin-bottom: 10em;
	display: flex;
	justify-content: center;
    

}
#home .racing-faq {
	margin-bottom: 10em;
	padding-left: 10%;
	padding-right: 10%;
}
#home .tips-text {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
#home .tips-tricks {
	margin-bottom: 10em;
	padding-left: 15%;
	padding-right: 15%;
}
#home .contact-container {
	padding: 0.5em;
	margin-bottom: 6em;
}
#home .form {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	margin-bottom: 1em;
	border: solid grey 0.5px;
	border-radius: 10px;
}
#home .form button {
	width: min-content;
	margin-top: 0.3em;
}
#home .girls-card {
	margin-left: 15%;
	margin-right: 15%;
}
/*PC*/
@media screen and (min-width: 1025px){
	.navigation {
		border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
		border-width: 2px;
		border-style: solid;
		border-top: transparent;
		border-left: transparent;
		border-right: transparent;
		display: flex;
		justify-content: space-between;
	}
	.navigation img {
		padding-right: 2em;
	}
	#home .slow-mo-container {
		overflow: clip;
		position: relative;
		display: block;
        border-image: radial-gradient(circle, #52F9FF, #FF3131, #52F9FF) 1;
		border-width: 2px;
		border-style: solid;
		border-top: transparent;
		border-left: transparent;
		border-right: transparent;
       
		
	}
    #home .slow-mo-container video{
        background-color: black;
    }
	#home .slow-mo-container-mobile {
		display: none;
	}
	.nav-link:hover {
        
		border-bottom: solid #52F9FF;
		border-width: 1px;
		padding-bottom: 2px;
		color: #3bb7bb;
	}
	.navbar-nav {
		gap: 1.4em;
	}
	.active {
		border-bottom: solid #52F9FF;
		border-width: 1px;
		padding-bottom: 5px;
	}
	#home .hero-overlay {
		font-size: 1.5em;
	}
    #home .about-team{
        margin-left: 30em;
        margin-right: 30em;
    }
	#home .s-container-text {
		padding-left: 30em;
        padding-right: 30em;
	}
	#home .racing-faq {
		margin-bottom: 10em;
		padding-left: 30%;
		padding-right: 30%;
	}
	#home .tips-tricks .card {
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
	}
	#home .sponsor-cards {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	#home .girls-card {
		margin-left: 30%;
		margin-right: 30%;
	}
	#home .card-img {
		width: 20%;
	}
	#home .contact-container {
		margin-left: 30%;
		margin-right: 30%;
	}
}
/*landscape tablet*/
@media screen and (min-width: 961px) and (max-width: 1024px){
    
    .navigation {
		background-color: #f1f1f1;
        border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
        border-image-outset: 10 10 0 10;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;

	}
    .navigation img {
		padding-right: 1em;
	}
    .active {
		border-bottom: solid #52F9FF;
		border-width: 1px;
		padding-bottom: 5px;
	}
    .navigation .social-media{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       justify-items: center;
       gap: 0.2em;
       align-items: center;
       align-content: center;
    }
    #home .slow-mo-container {
		overflow: clip;
		position: relative;
		display: block;
	}
	#home .slow-mo-container-mobile {
		display: none;
	}
    #home .sponsor-cards {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
    #home .contact-container {
		margin-left: 10%;
		margin-right: 10%;
	}
    #home .sponsor-container{
        padding-top: 6em;
        padding-bottom: 3em;
    }
	.s-container-text{
        margin-left: 10em;
        margin-right: 10em;
    }
    #home .slow-mo-container video {
        opacity: 0.5;
    }
   
}

/*Portrait Ipad*/
@media screen and (min-width: 641px) and (max-width: 960px){
    .navigation {
		background-color: #f1f1f1;
        border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
        border-image-outset: 10 10 0 10;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;

	}
    .navigation img {
		padding-right: 1em;
	}
    .navigation .social-media{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: min-content;
    }
    #home .slow-mo-container {
		overflow: clip;
		position: relative;
		display: block;
        
	}
	#home .slow-mo-container-mobile {
		display: none;
	}
    #home .slow-mo-container video {
        opacity: 0.5;
    }
    #home .sponsor-cards{
        display: grid;
        grid-gap: 2em;
        
    }
    #home .contact-container {
		margin-left: 10%;
		margin-right: 10%;
	}
	
}
    
/* Sponsorship Page*/

#sponsor .package-cards{
    margin-left: 1em;
    margin-right: 1em;
}
#sponsor .package-cards .card img {
	height: 10em;
	padding-top: 2em;
	padding-bottom: 2em;
}
#sponsor .package-cards .card {
	width: 100%;
}
#sponsor .banner{
    margin-top: 2em;
    padding: 2em;
    
   
}
#sponsor .banner-text{
    margin-top: 1em;
   
}

#sponsor .banner h2{
   padding-left: 0.5em;
   padding-right: 0.5em;
}

#sponsor .included-cards{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-left: 1em;
    margin-right: 1em;
    grid-gap: 1.5em;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}


#sponsor .offer-banner{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
    padding-bottom: 1em;
   
}


#sponsor .offer-banner img{
    width: 100%;
    
    padding-right: 1em;
}

#sponsor .offer-banner .offer-text{
    text-align: center;
    width: 100%;
}

#sponsor .offer-p{
    padding-left: 1em;
    padding-right: 1em;
}
#sponsor .included-sponsor{
    margin-top: 3em;
    margin-bottom: 5em;
    
}

/*Pc*/
@media screen and (min-width: 1025px) {
    #sponsor .banner{
        padding: 5em;
        
       
    }
    #sponsor .banner-text{
        margin-top: 1em;
        margin-left: 30em;
        margin-right: 30em;
    }
    #sponsor .included-sponsor{
        padding: 5em;
        background-color: white;
        border-radius: 10px;
        margin-left: 25em;
        margin-right: 25em;

    }
	#sponsor .included-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        
        grid-gap: 2em;
        gap: 2em;
        justify-content: center;
        align-items: center;
        
    }
    #sponsor .offer-banner{
        display: grid;
        grid-template-columns: 40% 60%;
        border-bottom: none;
        justify-items: center;
        align-items: center;
        color: black;
    }
    #sponsor .package-heading{
       
        margin-top: 10em;
        padding-bottom: 5em;
        
        
    }
   
	#sponsor .card img {
		height: 10em;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	#sponsor .card {
		width: 100%;
		height: 100%;
		margin-bottom: 2em;
        background-color:rgb(250, 249, 247);
        color: black;
        border-radius: 0;
       
	}
	#sponsor .package-cards {
		margin-left: 20%;
		margin-right: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding-bottom: 5em;
       
	}
	#sponsor .card-price {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: end;
	}
	#sponsor .card-price button {
		width: min-content;
	}
}
/*Portrait Ipad*/
@media screen and (min-width: 641px) and (max-width: 960px){
    #sponsor .package-cards{
        margin-left: 10em;
        margin-right: 10em;
        padding-bottom: 5em;
    }
}
/*landscape tablet*/
@media screen and (min-width: 961px) and (max-width: 1024px){
    #sponsor .package-cards{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5em;
    }
}
/*Our Sponsors Page*/

#our-sponsors .banner {
	padding-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
}
#our-sponsors .sponsor-display {
	display: grid;
	gap: 2em;
	grid-template-rows: 1fr 1fr 1fr;
	padding-bottom: 15em;
	justify-items: center;
}
@media screen and (min-width: 1000px) {
	#our-sponsors .banner {
		padding-bottom: 5em;
		margin-left: 20%;
		margin-right: 20%;
	}
	#our-sponsors .sponsor-display {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: none;
		justify-content: center;
		margin-left: 20%;
		margin-right: 20%;
		justify-items: center;
		gap: 2em;
	}
}

/*Pro Tips Page*/

#pro-tips .banner{
    padding-left: 2em;
    padding-right: 2em;
}
#pro-tips .pro-tips-cards{
    margin-left: 1em;
    margin-right: 1em;
}
/*PC*/
@media screen and (min-width: 1025px){
    #pro-tips .banner{
        padding-left: 30em;
        padding-right: 30em;
        padding-bottom: 2em;
    }
    #pro-tips .pro-tips-cards{
        padding-left: 15em;
        padding-right: 15em;
    }
}
/*landscape tablet*/
@media screen and (min-width: 961px) and (max-width: 1024px){
    #pro-tips .banner{
        margin-left: 10em;
        margin-right: 10em;
        padding-bottom: 3em;
    }
    #pro-tips .pro-tips-cards{
        margin-left: 1em;
        margin-right: 1em;
        padding-bottom: 5em;
    }
}