

/* Index */

#home body {}
.navigation {
	background-color: #f1f1f1;
	border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
	border-width: 2px;
	border-style: solid;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	z-index: 2;
}
.footer{

}
.social-media {
	display: flex;
	gap: 0.7em;
	align-items: center;
}
.fa-tiktok {
	font-size: 1.2em;
}
.social-media a {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}
.navbar-brand {
	margin: 0;
	align-self: center;
}
#home .slow-mo-container {
	display: none;
}
#home .slow-mo-container video {
	opacity: 50%;
}
#home .hero-overlay {
	color: black;
	text-align: center;
	min-width: 20em;
	z-index: 1;
}
#home .slow-mo-container-mobile {
	margin-bottom: -6px;
	height: 80vh;
	overflow: clip;
}
#home .slow-mo-container-mobile video {
	opacity: 50%;
}
#home .hero-text {
	font-size: 1.4em;
}
#home .sponsor-container {
	margin-bottom: 10em;
	padding-top: 8em;
}
#home .sponsor-heading {
	font-size: 2em;
	margin-bottom: 1em;
}
#home .sponsor-p {
	margin-bottom: 3.125em;
}
#home .s-container-text {
	padding-left: 2em;
    padding-right: 2em;
}

#home .card-home img {
	margin-bottom: 1.5em;
}
#home .sponsor-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
#home .girls-card {
	margin-top: 3.125em;
	margin-bottom: 10em;
	display: flex;
	justify-content: center;
}
#home .racing-faq {
	margin-bottom: 10em;
	padding-left: 10%;
	padding-right: 10%;
}
#home .tips-text {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
#home .tips-tricks {
	margin-bottom: 10em;
	padding-left: 15%;
	padding-right: 15%;
}
#home .contact-container {
	padding: 0.5em;
	margin-bottom: 6em;
}
#home .form {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	margin-bottom: 1em;
	border: solid grey 0.5px;
	border-radius: 10px;
}
#home .form button {
	width: min-content;
	margin-top: 0.3em;
}
#home .girls-card {
	margin-left: 15%;
	margin-right: 15%;
}
/*PC*/
@media screen and (min-width: 1025px){
	.navigation {
		background-color: #f1f1f1;
		border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
		border-width: 2px;
		border-style: solid;
		border-top: transparent;
		border-left: transparent;
		border-right: transparent;
		display: flex;
		justify-content: space-between;
	}
	.navigation img {
		padding-right: 2em;
	}
	#home .slow-mo-container {
		overflow: clip;
		position: relative;
		display: block;
	}
	#home .slow-mo-container-mobile {
		display: none;
	}
	.nav-link:hover {
		border-bottom: solid #52F9FF;
		border-width: 1px;
		padding-bottom: 2px;
		color: #3bb7bb;
	}
	.navbar-nav {
		gap: 1.4em;
	}
	.active {
		border-bottom: solid #52F9FF;
		border-width: 1px;
		padding-bottom: 5px;
	}
	#home .hero-overlay {
		font-size: 1.5em;
	}
	#home .s-container-text {
		padding-left: 30em;
        padding-right: 30em;
	}
	#home .racing-faq {
		margin-bottom: 10em;
		padding-left: 30%;
		padding-right: 30%;
	}
	#home .tips-tricks .card {
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
	}
	#home .sponsor-cards {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	#home .girls-card {
		margin-left: 30%;
		margin-right: 30%;
	}
	#home .card-img {
		width: 20%;
	}
	#home .contact-container {
		margin-left: 30%;
		margin-right: 30%;
	}
}
/*landscape tablet*/
@media screen and (min-width: 961px) and (max-width: 1024px){
    
    .navigation {
		background-color: #f1f1f1;
        border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
        border-image-outset: 10 10 0 10;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;

	}
    .navigation img {
		padding-right: 1em;
	}
    .active {
		border-bottom: solid #52F9FF;
		border-width: 1px;
		padding-bottom: 5px;
	}
    .navigation .social-media{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       justify-items: center;
       gap: 0.2em;
       align-items: center;
       align-content: center;
    }
    #home .slow-mo-container {
		overflow: clip;
		position: relative;
		display: block;
	}
	#home .slow-mo-container-mobile {
		display: none;
	}
    #home .sponsor-cards {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
    #home .contact-container {
		margin-left: 10%;
		margin-right: 10%;
	}
    #home .sponsor-container{
        padding-top: 6em;
        padding-bottom: 3em;
    }
	.s-container-text{
        margin-left: 10em;
        margin-right: 10em;
    }
    #home .slow-mo-container video {
        opacity: 0.5;
    }
   
}

/*Portrait Ipad*/
@media screen and (min-width: 641px) and (max-width: 960px){
    .navigation {
		background-color: #f1f1f1;
        border-image: radial-gradient(circle, #FF3131, #52F9FF) 1;
        border-image-outset: 10 10 0 10;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;

	}
    .navigation img {
		padding-right: 1em;
	}
    .navigation .social-media{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: min-content;
    }
    #home .slow-mo-container {
		overflow: clip;
		position: relative;
		display: block;
        
	}
	#home .slow-mo-container-mobile {
		display: none;
	}
    #home .slow-mo-container video {
        opacity: 0.5;
    }
    #home .sponsor-cards{
        display: grid;
        grid-gap: 2em;
        
    }
    #home .contact-container {
		margin-left: 10%;
		margin-right: 10%;
	}
	
}
    
/* Sponsorship Page*/

#sponsor .card img {
	height: 10em;
	padding-top: 2em;
	padding-bottom: 2em;
}
#sponsor .card {
	width: 100%;
}
#sponsor .banner {
	padding-bottom: 2em;

}
#sponsor .banner-text{
    padding-right: 3em;
    padding-left: 3em;
}
#sponsor .banner h2{
   padding-left: 0.5em;
   padding-right: 0.5em;
}
/*Pc*/
@media screen and (min-width: 1025px) {
	#sponsor .banner {
		padding-bottom: 5em;
		margin-left: 20%;
		margin-right: 20%;
	}
	#sponsor .card img {
		height: 10em;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	#sponsor .card {
		width: 100%;
		height: 100%;
		margin-bottom: 2em;
	}
	#sponsor .package-cards {
		margin-left: 30%;
		margin-right: 30%;
	}
	#sponsor .card-price {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: end;
	}
	#sponsor .card-price button {
		width: min-content;
	}
}
/*Portrait Ipad*/
@media screen and (min-width: 641px) and (max-width: 960px){
    #sponsor .package-cards{
        margin-left: 10em;
        margin-right: 10em;
        padding-bottom: 5em;
    }
}
/*landscape tablet*/
@media screen and (min-width: 961px) and (max-width: 1024px){
    #sponsor .package-cards{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5em;
    }
}
/*Our Sponsors Page*/

#our-sponsors .banner {
	padding-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
}
#our-sponsors .sponsor-display {
	display: grid;
	gap: 2em;
	grid-template-rows: 1fr 1fr 1fr;
	padding-bottom: 15em;
	justify-items: center;
}
@media screen and (min-width: 1000px) {
	#our-sponsors .banner {
		padding-bottom: 5em;
		margin-left: 20%;
		margin-right: 20%;
	}
	#our-sponsors .sponsor-display {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: none;
		justify-content: center;
		margin-left: 20%;
		margin-right: 20%;
		justify-items: center;
		gap: 2em;
	}
}

/*Pro Tips Page*/

#pro-tips .banner{
    padding-left: 2em;
    padding-right: 2em;
}
/*PC*/
@media screen and (min-width: 1025px){
    #pro-tips .banner{
        padding-left: 30em;
        padding-right: 30em;
        padding-bottom: 2em;
    }
    #pro-tips .pro-tips-cards{
        padding-left: 15em;
        padding-right: 15em;
    }
}
/*landscape tablet*/
@media screen and (min-width: 961px) and (max-width: 1024px){
    #pro-tips .banner{
        margin-left: 10em;
        margin-right: 10em;
        padding-bottom: 3em;
    }
    #pro-tips .pro-tips-cards{
        margin-left: 1em;
        margin-right: 1em;
        padding-bottom: 5em;
    }
}